<% if book.errors.any? %>
  <%= pluralize(book.errors.count, "error") %> prohibited this obj from being saved
    <% book.errors.full_messages.each do |message| %>
      <p><%= message %></p>
    <% end %>
<% end %>
